/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.container-fluid {
    background-color: #212529;
}

.password-generator {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Title Styling */
h1 {
    font-size: 2.5rem;
    color: #343a40;
}

h1 span {
    color: #0d6efd;
}

/* Display Input Styling */
.display {
    position: relative;
    text-align: center;
}

input#password {
    padding: 12px;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #0d6efd;
    border-radius: 5px;
    outline: none;
}

input#password:focus {
    border-color: #198754;
}

/* Buttons */
button {
    font-size: 1.2rem;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

button.btn-primary {
    background-color: #0d6efd;
}

button.btn-success {
    background-color: #198754;
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline: none;
}

/* Responsive */
@media (max-width: 576px) {
    .password-generator {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 1rem;
    }
}
